    - name: Create LTM virtual servers
      bigip_virtual_server:
{%- raw %}
        name: "{{ item.name }}"
        destination: "{{ item.destination }}"
        port: "{{ item.port }}"
        ip_protocol: "{{ item.ip_protocol|default(omit) }}"
        pool: "{{ item.pool|default(omit) }}"
        source: "{{ item.source|default(omit) }}"
        description: "{{ item.description|default(omit) }}"
        address_translation: "{{ item.address_translation|default(omit) }}"
        port_translation: "{{ item.port_translation|default(omit) }}"
        irules: "{{ item.irules|default(omit) }}"
        security_log_profiles: "{{ item.security_log_profiles|default(omit) }}"
        profiles: "{{ item.profiles|default(omit) }}"
        provider: "{{ provider }}"
      delegate_to: localhost
      loop: "{{ ltm_virtual_servers }}"
{% endraw %}
