    - name: Create LTM TCP monitors
      bigip_monitor_tcp:
{%- raw %}
        name: "{{ item.name }}"
        parent: "{{ item.parent|default(omit) }}"
        ip: "{{ item.ip|default(omit) }}"
        port: "{{ item.port|default(omit) }}"
        interval: "{{ item.interval|default(omit) }}"
        receive: "{{ item.receive|default(omit) }}"
        send: "{{ item.send|default(omit) }}"
        time_until_up: "{{ item.time_until_up|default(omit) }}"
        timeout: "{{ item.timeout|default(omit) }}"
        provider: "{{ provider }}"
      delegate_to: localhost
      loop: "{{ tcp_monitors }}"
      tags:
        - tcp-monitors
        - monitors
{% endraw %}
