    - name: Create pools
      bigip_pool:
{%- raw %}
        name: "{{ item.name }}"
        monitors: "{{ item.monitors|default(omit) }}"
        provider: "{{ provider }}"
      delegate_to: localhost
      loop: "{{ ltm_pools }}"
      tags:
        - ltm-pools
        - pool
        - pools
{% endraw %}
