    - name: Add members to pools
      bigip_pool_member:
{%- raw %}
        name: "{{ item.name }}"
        pool: "{{ item.pool }}"
        port: "{{ item.port }}"
        description: "{{ item.description|default(omit) }}"
        address: "{{ item.address|default(omit) }}"
        fqdn: "{{ item.fqdn|default(omit) }}"
        fqdn_auto_populate: "{{ item.fqdn_auto_populate|default(omit) }}"
        connection_limit: "{{ item.connection_limit|default(omit) }}"
        rate_limit: "{{ item.rate_limit|default(omit) }}"
        ratio: "{{ item.ratio|default(omit) }}"
        priority_group: "{{ item.priority_group|default(omit) }}"
        monitors: "{{ item.monitors|default(omit) }}"
        availability_requirements: "{{ item.availability_requirements|default(omit) }}"
        provider: "{{ provider }}"
      delegate_to: localhost
      loop: "{{ ltm_pool_members }}"
{% endraw %}
