---

- name: Recreate BIG-IP configuration with Ansible
  hosts: bigip
  connection: local
  any_errors_fatal: true

  roles:
    - role: f5devcentral.f5ansible

  tasks:
{% include "sys-provision.j2" %}

{% include "net-vlan.j2" %}

{% include "ltm-irule.j2" %}

{% include "ltm-http-monitor.j2" %}

{% include "ltm-https-monitor.j2" %}

{% include "ltm-tcp-monitor.j2" %}

{% include "ltm-pool.j2" %}

{% include "ltm-pool-member.j2" %}

{% include "ltm-virtual-server.j2" %}
